#coor_information {
	display: block;
	position: fixed;
	top: 10px;
	left: 10px;
	padding: 6px 8px;
	font: bold 15px monospace;
	cursor: default;
	z-index: 99999999999;
	color: blueviolet;
	background-color: white;
}

#clipper_change_name {
	right: 10px;
	bottom: 10px;
	position: fixed;
	font: 12px Arial;
	background-color: salmon;
	padding: 2px;
	border: 1px solid red;
	cursor: default;
}

.h_desc {
	font: 13px Arial;
	cursor: default;
}

.h_desc .info {
	color: blueviolet;
	font-weight: bold;
}

/**
 * board styles
 */
.board {
	border-collapse: collapse;
	border: 1px solid #cccccc;
}

.board td {
	border: 1px solid #cccccc;
}

.board.opponent td {
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.board.player td {
	height: 30px;
	width: 30px;
}

/**
 * missed shot
 */
.board td.target-miss {
	background-image: url(../img/miss.jpg);
	background-repeat: no-repeat;
	background-position: center;
}

.board.player td.target-miss {
	background-size: 39px 41px;
}

.board.opponent td.target-miss {
	cursor: default;
	background-size: 27px 31px;
}

/**
 * target hit
 */
.board td.target-hit {
	background-image: url(../img/explosion.png);
	background-repeat: no-repeat;
}

.board.opponent td.target-hit {
	cursor: default;
	background-size: 34px 26px;
	background-position: -12px -6px;
}

.board.player td.target-hit {
	background-size: 55px 41px;
	background-position: -22px -9px;
}

/**
 * ship pieces
 */
.board.player td.ship-piece {
	background-color: #cecece;
}

.board_holder {
	display: inline-block;
	padding: 20px;
	border: 1px solid #cecece;
	box-shadow: 4px 4px 8px #cecece;
	margin: 20px;
}

.board_title {
	font: bold 40px monospace;
	margin-bottom: 20px;
}

/**
 * general classes
 */
.hidden {
	display: none;
}

/**
 * ships selector
 */
#ships {
	height: 140px;
}

#ships .ship_holder {
	margin: 10px auto;
}

#ships .ship_holder td {
	vertical-align: top;
}

#ships .ship_image {
	height: 130px;
	position: relative;
}

#ships .ship_image img {
	width: 120px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	opacity: .5;
	z-index: 8;
}

#ships .ship {
	display: inline-block;
	width: 140px;
	height: 20px;
	text-align: center;
	cursor: pointer;
	vertical-align: bottom;
	background-color: white;
}

#ships .ship:hover .ship_information {
	box-shadow: 1px 1px 13px 2px rgb(178, 194, 177);
}

#ships .ship .ship_information {
	display: none;
	cursor: default;
	position: relative;
	top: -147px;
	left: -70px;
	padding-top: 130px;
	width: 260px;
	background-color: white;
	z-index: 9;
}

#ships .ship .ship_information .holder {
	padding: 10px;
}

#ships .ship:hover .ship_information {
	display: block;
}

#ships .ship:hover .ship_image img {
	opacity: 1;
	z-index: 10;
}

.ship_information {
	font: 12px monospace;
	margin-top: 16px;
}

.ship_information table {
	margin: 4px 0px 8px 0px;
	width: 100%;
}

.ship_information table td:first-child {
	text-align: right;
	font-weight: bold;
	width: 50%;
}

.ship_information table td:nth-child(2) {
	text-align: left;
	padding-left: 5px;
}

.ship_information .desc {
	font: italic 11px monospace;
	text-align: justify;
	color: darkgrey;
}

/**
 * help content
 */
.h_title {
	font: bold 17px Arial;
	margin-bottom: 4px;
	margin-top: 2px;
}

.battleships_pic {
	float: right;
	width: 320px;
	top: 50px;
}

/**
 * description page specific (assignemnt 1)
 */
.descpage {
	font: 12px Arial;
	width: 550px;
	margin: 20px auto;
	cursor: default;
}
