<table class="ship_holder">
	<tr>
		{list <td>
			<div class="ship" data-ship-id="{__id}">
				<div class="ship_image">
					<img x-placeholder-src="{src}" alt="{name} image" />
				</div>
				<div class="ship_information">
					<div class="holder">
						<div>{name}</div>
						<table>
							<tr>
								<td>Width:</td>
								<td>{width}</td>
							</tr>
							<tr>
								<td>Length:</td>
								<td>{length}</td>
							</tr>
						</table>
						<div class="desc">{description}</div>
					</div>
				</div>
			</div>
		</td>}
	</tr>
</table>
